{% extends 'base.html' %}

{% load static %}



{% block content %}

<h1>HOME</h1>

<section>
    <div class='titre_all_joueurs'>
        <h3>ALL EQUIPE</h3>
        <a  href={% url 'addEquipe' %}>Creer une Equipe</a>
    </div>

    <div class='all'>
        {% for el in allEquipe %}
        
        <div>
            <div  class='titre_equipe'>
                <div class='flex_titre'>
                    <div>
                        {{el.name}}
                    </div>
            
                    <div>

                        <button><a href={% url 'editEquipe' el.id %}>Edit</a></button>
                        <button><a href={% url 'detailEquipe' el.id %}>Details</a></button>
                    </div>
                    </div>
            </div>
            <div class='team'>
                
                {% for x in el.joueur_set.all %}
                    <div>
                        <button><a href={% url 'detail' x.id %}>
                            <img class='img' src={{x.image}} width="70px" alt="">
                        </a></button> 
                       
                        <p>{{x.name}}</p>
                    </div>
                        
                        
                    {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>





<section class='all_joueur'>
    <div class='titre_all_joueurs'>
        <h3>ALL JOUEUR</h3>
        <a href={% url 'addJoueur' %}>Creer un joueuer</a>
    </div>

    <div class='contain_joueur'>
        {% for el in allJoueur %}
        <div class="joueur">
            <p> {{el.name}} <button><a href={% url 'editJoueur' el.id %}>Edit</a></button> <button><a href={% url 'detail' el.id %}>Details</a></button>  </p>
        </div>
            {% endfor %}
    </div>

</section>





<section class="section_all">

    <div class='titre_all_joueurs'>
        <h3>ALL </h3>
    </div>

    <div class=" d-flex">
        <div >
            <div class="allEquipe">
           
              {% for equipe in allEquipe %}
              <div class="divAll">
                  <div class="titre_table">
                      <table >
                        <tr ><td class="fw-bold">Nom:</td><td>{{equipe.name}}</td></tr>
                        <tr><td class="fw-bold">Ville:</td><td>{{equipe.ville}}</td></tr>
                       </table>
                  </div>

                    <div class='border-1 border border-primary'>
                        {% for x in equipe.joueur_set.all %}
                        <hr>
                            <p>{{x.name}}</p>
                            <p>{{x.surname}}</p>
                            <p>{{x.role}}</p>
                            <hr>
                        {% endfor %}
                    </div>
              </div>
               
              {% endfor %}
            </div>
        </div>
        
       
    </div>
</section>



<div class='all_joueur oui'>
    
    <section>
    
        <div class='titre_all_joueurs'>
            <h3>EQUIPES NON COMPLETES </h3>
        </div>
    
        <div class="d-flex">
            <div class='allEquipe'>
                {% for equipe in enc %}
                <div class='divAll'>
                    <div class='titre_table'>
                        <table >
                            <tr>
                                <td class="fw-bold">Nom:</td>
                                <td>{{equipe.name}}</td>
                            </tr>
                            <tr>
                                <td class="fw-bold">Ville:</td>
                                <td>{{equipe.ville}}</td>
                            </tr>
                        </table>
                    </div>
                    <table >
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Équipe</th>
                        </tr>
                        {% for joueur in equipe.joueur_set.all|slice:":4" %}  <!-- Récupérer les quatre premiers joueurs -->
                        <tr>
                            <td>{{joueur.name}}</td>
                            <td>{{joueur.surname}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% empty %}
                    <p>Aucune équipe n'est disponible.</p>
                </div>
                {% endfor %}
            </div>
        </div>
    
    </section>
    
    
    
    
    
    <section>
        <div class='titre_all_joueurs'>
            <h3>JOUEURS SANS EQUIPES</h3>
        </div>
    
        <div class='allEquipe'>
            <div class=divAll>
                <table >
                    <tr class='titre_table'>
                        <th>Nom</th>
                        <th>Prénom</th>
                    </tr>
                    <div >
                        {% for joueur in jse %}
    
                            <tr>
                                <td>{{ joueur.name }}</td>
                                <td>{{ joueur.surname }}</td>
                            </tr>
    
                        {% endfor %}
                    </div>
                </table>
            </div>
        </div>
    
    </section>
    
    
    
    
    <section>
        <div class=titre_all_joueurs>
            <h3>JOUEURS EQUIPES</h3>
        </div>
    
        <div class=allEquipe>
            <div class=divAll>
                <table >
                    <tr class=titre_table>
                        <th>Nom</th>
                        <th>Prénom</th>
                    </tr>
                    {% for joueur in je %}
                    <tr>
                        <td>{{ joueur.name }}</td>
                        <td>{{ joueur.surname }}</td>
                        <td>{{joueur.equipe}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    
    </section>
    
    
    
    
    
    <section>
        <div class=titre_all_joueurs>
            <h3>EQUIPES EUROPE</h3>
        </div>
    
        <div class=allEquipe>
            <div class=divAll>
                <table >
                    <tr class=titre_table>
                        <th>Nom</th>
                        <th>Prénom</th>
                    </tr>
                    {% for equipe in ee %}
                    <tr>
    
                        <td>{{equipe.name}}</td>
                        <td>{{equipe.ville}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    
    </section>
    
    
    
    
    
    <section>
        <div class=titre_all_joueurs>
            <h3>EQUIPES HORS EUROPE</h3>
        </div>
    
        <div class=allEquipe>
            <div class=divAll>
                <table >
                    <tr class=titre_table>
                        <th>Nom</th>
                        <th>Prénom</th>
                    </tr>
                    {% for equipe in ehe %}
                    <tr>
                        <td>{{ equipe.name }}</td>
                        <td>{{ equipe.ville }}</td>
                                </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    
    </section>
</div>


{% endblock content %}